<tr data-task-id="{{id}}">
    <td class="event-content-col">
        {{content}}
    </td>
    <td class="date-col">
        {{startsAt}}
    </td>
    <td class="date-col">
        {{endsAt}}
    </td>
    <td hidden>
        {{createdAt}}
    </td>
</tr>