<tr data-event-id="{{id}}">
    <td class="event-content-col">
        {{content}}
    </td>
    <td class="date-col">
        {{startsAt}}
    </td>
    <td class="date-col">
        {{endsAt}}
    </td>
    <td>
        <button class="btn btn-sm btn-default center-block js-delete">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>