@model dynamic

@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>
<hr />
    
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Event</th>
        <th>Starts at</th>
        <th>Ends at</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td class="event-content-col"></td>
            <td class="date-col"></td>
            <td class="date-col"></td>
        </tr>
    </tbody>
</table>



