label.error {
    color: red;
}

input.error {
    border: 2px red solid;
}

td.scrum-who-col {
    width: 10%;
    text-align: center;
}

td.scrum-task-col {
    width: 30%;
}

td.task-content-col {
    width: 50%
}

td.selectbox-user-col {
    width: 25%
}

td.selectbox-params-col {
    width: 12.5%
}

.task-buttons-board {
    margin-top: 8px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.js-editable {
    cursor: pointer;
}

.js-editable:hover {
    font-weight: bold;
}

.js-taskbox {
    cursor: move;
}

.bootbox-input.bootbox-input-textarea {
    min-width: 100%;
    min-height: 180px;
}

.ui-state-hover {
    background-color: beige;
}