label.error, .field-validation-error {
    color: #a94442;
}

input.error, .input-validation-error {
    border: 2px #a94442 solid;
}

td.scrum-who-col {
    width: 10%;
    text-align: center;
}

td.scrum-task-col {
    width: 30%;
}

/*Manage tasks table*/
td.task-title-col {
    width: 20%
}

td.task-content-col {
    width: 40%
}

td.task-user-col, td.date-col {
    width: 15%
}

td.task-params-col, td.task-delete-col {
    width: 8%
}
/*End of anage tasks table*/

/*Events table*/
td.event-content-col {
    width: 50%
}

td.event-date-col {
    width: 20%
}

td.event-delete-col {
    width: 10%
}

.task-buttons-board {
    margin-top: 8px;
}

.table > tbody > tr.js-task-row > td {
    vertical-align: middle;
}

.js-editable {
    cursor: pointer;
}

.js-editable:hover {
    font-weight: bold;
}

.moveable {
    cursor: move;
}

.bootbox-input.bootbox-input-textarea, .max-width {
    min-width: 100%;
    min-height: 150px;
}

.ui-state-hover {
    background-color: beige;
}

.btn-menu {
    margin-right: 10px;
}

.disabled {
    /* for "disabled" effect */
    opacity: 0.8;
}
