@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Bartłomiej Iskrzycki<br/>

    <strong>E-Mail:</strong><a href="mailto:bartek.iskrzycki@gmail.com">bartek.iskrzycki@gmail.com</a>
</address>