<div data-task-id="{{id}}" class="col-lg-6 js-taskbox" data-toggle="tooltip" title="Drag me!">
    <div class="panel panel-primary">
        <div class="panel-body text-justify">
            {{content}}
        </div>
        <div class="panel-footer">
            <div>
                <strong>Priority: {{priority}}</strong>
            </div>
            <div>
                <strong>Estimation: {{estimation.value}}</strong>
            </div>
            <div class="js-done">
                <strong>
                    Took:
                    <js-took>
                        {{#if took}}
                            {{took.value}}
                        {{/if}}
                    </js-took>
                </strong>
            </div>
        </div>
    </div>
</div> 