<tr data-team-id="{{id}}" class="js-team-row">
    <td class="team-name-col">
        <a href="/Teams/{{id}}">{{name}}</a>
    </td>
    <td class="team-number-col">
        {{numberOfMembers}}
    </td>
    <td class="team-delete-col">
        <button class="btn btn-sm btn-default center-block js-delete">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </td>
</tr>