@model Scrummage.Models.Team

@{
    ViewBag.Title = "Team details";
}

<h2>Team Details - @Model.Name</h2>
<hr/>
<h3>Members</h3>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @foreach (var member in Model.Users)
            {
                <div class="list-group-item">
                    @member.Name @member.Surname
                    <span data-member-id="@member.Id" class="glyphicon glyphicon-remove js-remove pull-right"></span>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<h3>Add New Members</h3>

<form id="newMemberForm">
    <div class="form-group">
        <input name="nameAndSurname" type="text" class="form-control"/>
    </div>
    <button class="btn btn-primary">Add</button>
</form>





