@model Scrummage.Models.Team

@{
    ViewBag.Title = "Team details";
}

<h2>Team Details - @Model.Name</h2>
<hr/>
<h3>Members</h3>

<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <div class="list-group-item">Test</div>
        </div>
    </div>
</div>



