@model dynamic

@{
    ViewBag.Title = "Manage Teams";
}

<h2>Manage Teams</h2>
<hr/>

<div class="row">
    <div class="col-md-2">
        <button id="newTeamButton" type="button" class="btn btn-success btn-block">New team</button>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-6">
        <h3>Your teams</h3>
        <table id="teamsTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Team</th>
                <th>Number of members</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    @* Task Row template *@
    <script id="teamRow" type="text/x-handlebars-template">
        @Html.Partial("_TeamRow")
    </script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")
    @Scripts.Render("~/bundles/views/teams/index");
    
    <script>
        LoadTeamsTableData();
        BindTeamCreateEvent();
        BindTeamDeleteEvent();
    </script>
}
