@model dynamic

@{
    ViewBag.Title = "Manage Teams";
}

<h2>Manage Teams</h2>
<hr/>
<h3>Add new team</h3>
<form id ="newTeam">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input name="name" required type="text" value="" class="form-control" />
    </div>
    <button class="btn btn-primary">Submit</button>
</form>
<hr/>
<h3>Your teams</h3>
<div class="row">
    <div class="col-md-4">
        <div id="teamsList" class="list-group">
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function createListItem(teamId, teamName) {
            $('#teamsList')
                .append(
                    '<div class="list-group-item">' +
                    '<a href="/teams/' + teamId + '">' + teamName + '</a>' +
                    '<span data-team-id="' + teamId + '" class="glyphicon glyphicon-remove js-remove pull-right"></span>' +
                    '</div>'
                );
        }

        $.ajax({
            url: '/api/teams',
            method: 'get'
        })
        .done(function(teams) {
            teams.forEach(function (team) {
                createListItem(team.id, team.name);
            });
        });

        $('#newTeam').validate({
            submitHandler: function() {
                $.ajax({
                        url: '/api/teams',
                        method: 'post',
                        data: $('#newTeam').serialize()
                })
                .done(function(newTeam) {
                    toastr.success('New team has been created!');

                    $('#newTeam').find('input').val('');

                    createListItem(newTeam.id, newTeam.name);
                })
                .fail(function() {
                    toastr.error('Something went wrong!');
                });

                return false;
            }
        });

        $('#teams').on('click', '.js-remove', function () {
            var id = $(this).attr('data-team-id');
            var element = $(this).parent();

            bootbox.confirm('Are you sure?', function (result) {
                if (result === true) {
                    $.ajax({
                        url: '/api/teams/' + id,
                        method: 'delete'
                    })
                    .done(function () {
                        toastr.success('Team successfully deleted.');

                        element.remove();
                    })
                    .fail(function () {
                        toastr.error('Something went wrong!');
                    });
                }
            });
        });
    </script>
}
