@model dynamic

@{
    ViewBag.Title = "Manage Teams";
}

<h2>Manage Teams</h2>
<hr/>

<div class="row">
    <div class="col-md-2">
        <button id="newTeamButton" type="button" class="btn btn-success btn-block">New team</button>
    </div>
</div>
<hr/>

<div class="row">
    <div class="col-md-6">
        <h3>Your teams</h3>
        <table id="teamsTable" class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Team</th>
                <th>Number of members</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/handlebars")

    @* Task Row template *@
    <script id="teamRow" type="text/x-handlebars-template">
        @Html.Partial("_TeamRow")
    </script>

    <script>
        var source = $('#teamRow').html();
        var template = Handlebars.compile(source);
        var table = $('#teamsTable');

        $.get('/Api/Teams', function (data) {
            data.forEach(function (team) {
                var teamRowHtml = template(team);
                console.log(teamRowHtml);
                $('#teamsTable tbody').append(teamRowHtml);
            });
        }).done(function() {
            table = table.DataTable();
        });

        $('#newTeam').validate({
            submitHandler: function() {
                $.ajax({
                        url: '/Api/Teams',
                        method: 'post',
                        data: $('#newTeam').serialize()
                    })
                    .done(function(newTeam) {
                        toastr.success('New team has been created!');
                        $('#newTeam').find('input').val('');

                        //TODO: Insert new team to table
                    })
                    .fail(function() {
                        toastr.error('Something went wrong!');
                    });

                return false;
            }
        });

        $('#teams').on('click', '.js-remove', function () {
            console.log('click');
            var id = $(this).attr('data-team-id');
            var element = $(this).parent();

            bootbox.confirm('Are you sure?', function (result) {
                if (result === true) {
                    $.ajax({
                            url: '/Api/Teams/' + id,
                            method: 'delete'
                        })
                        .done(function () {
                            toastr.success('Team successfully deleted.');

                            element.remove();
                        })
                        .fail(function () {
                            toastr.error('Something went wrong!');
                        });
                }
            });
        });
    </script>
}
