@model dynamic

@{
    ViewBag.Title = "Join team";
}

<h2>Join team</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h3>Requested teams</h3>
        <div id="requestedTeams" class="list-group">

        </div>
    </div>
</div>
<hr />
<h3>Request team</h3>

<form id="requestTeamForm">
    <div class="form-group">
        <div class="tt-container">
            <input id="teamName" name="teamName" type="text" class="form-control" />
        </div>
    </div>
</form>

