@model IEnumerable<Scrummage.Dtos.TeamDto>

@{
    ViewBag.Title = "Join team";
}

<h2>Join team</h2>
<hr/>
<div class="row">
    <div class="col-md-4">
        <h3>Requested teams</h3>
        <div id="requestedTeams" class="list-group">
            @foreach (var team in Model)
            {
                <div class="list-group-item">
                    @team.Name
                    <span data-member-id="@team.Id" class="glyphicon glyphicon-remove js-remove pull-right"></span>
                </div>
            }
        </div>
    </div>
</div>
<hr />
<h3>Request team</h3>

<form id="requestTeamForm">
    <div class="form-group">
        <div class="tt-container">
            <input id="team" name="name" type="text" class="form-control" />
        </div>
    </div>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/views/teams/join")

    <script>
        bindTeamSearchEvent();
    </script>
}

